*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* COMMON */
.main{
    text-align: center;
}

.top-calculator{
    width: 25%;
    margin-top: 10%;
    margin-left: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* colore e bordi */
    background-color: #cfcdce;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.logo-calculator{
    text-align: center;
}

.display{
    width: 25%;
    margin-left: 40%;
    background-color: black;
    color: white;
}

.number-display{
    font-size: 50px;
    padding-left: 90%;
    font-family: 'Seven Segment';
    color: #30c18c;
}

.container{
    /* debug */
    width: 25%;
    margin-left: 40%;
}

.column{
    width: 100%;
    /* debug */
    background-color: #cfcdce;
    padding-bottom: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.numbers,
.operations{
    padding: 20px;
}

.item{
    width: calc(100% / 3 - 10px);
    height: 50px;
    border-radius: 10px;
    background-color: #bcbbbd;
    font-size: large;
    margin: 3px;
}

.operations .item {
    width: 100%;
}

.white-text{
    color: white;
}

.orange{
    background-color: #fb9f0d;
}
 .turquoise{
    background-color: #79a8b2;
 }

 .item.zero {
    width: 100px; 
}